 body{
 	color: seagreen;
      font-family: Arial;
 background-color: burlywood;

 	
 }

p{
	text-align:left;
}
h1{
	text-align: center;
   color:greenyellow;

}
   
.first {
	text-align: left; 
}
 h2{
 	color: yellow;
 }
 h3{
 	text-align:center ;
 	color:greenyellow;	 
 }
 h4{
 	text-align:center;
    color: ivory;
 }
 h5{
 	text-align: center;
    color:indigo ;
 }
 .second{
 	text-align: left;
 }
 h6{
   text-align: center;
   color: black;
}
h1{text-align: center;}
table,th,td{
   border:1px solid black;
   width:90% ;
}
h2{
   text-align: center;
}
nav{
   text-align:right;
   justify-content: center;
   padding:21;
   margin: 30;
   font-weight: italic;
   


 }


